body{
    margin: 50px;
}

#input1:focus {
    background: pink;
    font-size: 25px;
  }
  
  #input2:disabled {
    background: #dddddd;
  }
  #input2:enabled {
    background: #ffff00;
  }
  
  .input3:checked {
    height: 30px;
    width: 30px;
  }
  
  p:first-of-type {
    background-color: yellow;
  }
  p:last-of-type {
    background-color: yellow;
  }
  
  p:first-child {
    background: red;
  }
  p:last-child {
    background: red;
  }
  
p:empty{
    width: 100px;
    height: 20px;
    background: #ff00ff;
}
p{
    color: #0000;
}
:not(p) {
    /*Per te funksionuar kjo klase duhet gjithashtu edhe selectorit te caktuar ti jepet nje veti e caktuar*/
    background-color: lightblue;
}
p{
    background-color: blue;
}
:root{
    background-color: pink;
}
:target{
    border: 20px solid red;
    border-color: blueviolet;
}
