body{
 background-image: url(ARIANITIIII.PNG);
 background-repeat: no-repeat;
 /* background-position center;*/
 background-size: 100%;
 background-attachment: fixed;

}

div{
border: 10px solid black;
height: 400px;
width: 400px
}
#div1{
 background-image: url(ARIANITIIII.PNG);
 background-size: cover;

}
#div2{
    background-image: url(ARIANITIIII.PNG);
    background-size: cover;
   
   }
   #div3{
    background-image: url("ARIANITIIII.PNG");
    background-size: cover;
   
   }
   #div4{
    background: green url("ARIANITIIII.PNG") no-repeat 100% scroll;
   }

   
