#p11{
    border: double red 1px;
    width: 100%;
    height: auto;
}
#p1{
    border: 5px double red;
    max-width: 1000px;
    min-width: 700px;
    height: 100px;
}
#p2{
    border: 5px double red;
    max-height: 500px;
    min-height: 200px;
    width: 100px;
    overflow: auto;
}