#p1:before{
    content: "Pirku - ";
    color: red;
}
#p2:after{
    content: " - Pirku ";
    color: blue;
}
#p3:first-line{
    color: red;
    font-variant: small-caps;
}
#p3:first-letter{
    color: green;
    font-size: 30px;
}
p::selection{
    color: red;
    background: green;
}
